In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#activating browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\rajiv\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [3]:
# reading the website
browser.visit("https://redplanetscience.com/")

In [4]:
#scrapping the title
news_title=browser.find_by_css("div.content_title")[0].text
news_title

'The Man Who Wanted to Fly on Mars'

In [5]:
#scrapping the paragrap text
news_p=browser.find_by_css("div.article_teaser_body")[0].text
news_p

"The Mars Helicopter is riding to the Red Planet this summer with NASA's Perseverance rover. The helicopter's chief engineer, Bob Balaram, shares the saga of how it came into being."

In [6]:
# reading the website
browser.visit("https://spaceimages-mars.com/")

In [7]:
#clicking the button

browser.find_by_css("button.btn.btn-outline-light").click()

In [8]:
# url string for this image

featured_image_url=browser.find_by_css("img.fancybox-image")["src"]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [16]:
# scrapping the table

df=pd.read_html("https://galaxyfacts-mars.com/")[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [17]:
#Cleaning the table

df.columns=["Desc","Mars","Earth"]
df.drop(0,axis=0,inplace=True)
df

                 Desc             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [19]:
#Converting to HTML

df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Desc</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
#reading the website
browser.visit("https://marshemispheres.com/")

In [22]:
#looping to click on all the links and creating dictionary

hemisphere_image_urls = []

for i in range(len(browser.find_by_css("a.product-item img"))):
    browser.find_by_css("a.product-item img")[i].click()
    hemi_url = browser.find_by_text("Sample")["href"]
    hemi_title = browser.find_by_css("h2.title").text
    # print(hemi_url, hemi_title)
    hemisphere_image_urls.append({"title":hemi_title, "img_url": hemi_url})
    # browser.visit("https://marshemispheres.com/")
    browser.back()

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]